.quarto-title-block .quarto-title-banner {
  background-image: url(images/OIP.png);
  background-size: 250px;
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 100px;
  background-origin: content-box;
}